.container {
  font-family: 'Noto Sans', sans-serif;
  margin-top: 80px;
}
h3 {
  height: 30px;
}
th {
  height: 30px;
  text-align: center;
}
td {
  height: 100px;
  :hover {
    color: red;
    cursor: pointer;
    background-color: #fffafa;
  }
}
.today {
  background: orange;
}
th:nth-of-type(1), td:nth-of-type(1) {
  color: red;
}
th:nth-of-type(7), td:nth-of-type(7) {
  color: blue;
}
.required {
	background-color: #BB1850;
	color: #fff;
	font-size: 90%;
	padding: 2px;
	margin-left: 10px;
}